useDynLib("pbh5")

import(methods)
import(h5r)
importFrom(utils, head)

exportClasses(PacBioDataFile,
              PacBioCmpH5,
              PacBioBasH5,
              PacBioPlsH5,
              PacBioTrcH5,
              PacBioAlnH5)

export(getReadLength,
       getZScore,
       getFullRefNames,
       getRefNames,
       getAccuracy,
       getTemplateStrand,
       getTemplateStart,
       getTemplateEnd,
       getMachineName,
       getAdvanceTime,
       getTemplateSpan,
       getPolymerizationRate,
       getNumPasses,
       getLocalPolymerizationRate,
       doWithPlsAndCmp,
       getChannelToBaseMap,
       getMoleculeIndex,
       getUnrolledTemplateSpan,
       getKmerContext,
       associateWithContext,
       summarizeByContext,
       makeContextDataTable,
       getReadsInRange,
       getCoverageInRange,
       templatePositionFromAln,
       getTemplatePosition,
       getByTemplatePosition,
       getAlignmentBlock,
       getCallsForReads,
       getConsensusForReads,
       getConsensusForIdxs,
       getConsensusInRange,
       getCallsInRange,
       computeConsensus,
       getAlignmentsWithFeatures,
       getVersion,
       PacBioCmpH5,
       alnIndex,
       alnGroup,
       refGroup,
       refInfo,
       movieInfo,
       isSorted,
       getRefPath,
       getRefName,
       getRefFullName,
       getRefLength,
       getRefMD5,
       getAlignmentsRaw,
       getIPD,
       getPulseWidth,
       getStartTime,
       getPkmid,
       getEviconsCalls,
       getEviconsConfidence,
       PacBioBasH5,
       PacBioPlsH5,
       getPulseEvents,
       getBaseEvents,
       getHoleNumbers,
       getBaselineSigma,
       getBasecalls,
       getDeletionQV,
       getDeletionTag,
       getInsertionQV,
       getPreBaseFrames,
       getPulseIndex,
       getSubstitutionQV,
       getSubstitutionTag,
       getChannel,
       getChi2,
       getClassifierQV,
       getIsPulse,
       getMaxSignal,
       getMeanSignal,
       getMidSignal,
       getMidStdDevSignal,
       getStartFrame,
       PacBioAlnH5,
       getZMWs,
       PacBioTrcH5,
       getTraces,
       getRegionsTable,
       getAcqParams,
       getReadScore,
       doWithPlsAndTrc,
       makePlsAndTrcProcessor,
       applyZMWs,
       getBarcodeLabels,
       getBarcodeScores,
       getStartFrame,
       getCumulativeAdvanceTime)

exportMethods(getSNR,
              show,
              summary,
              nrow,
              head,
              colnames,
              "$",
              "[",
              getMovieName,
              getAlignments,
              getMovieName,
              getQualityValue,
              getDeletionQV,
              getDeletionTag,
              getInsertionQV,
              getMergeQV,
              getSubstitutionQV,
              getSubstitutionTag,
              getWidthInFrames,
              getStartFrame,
              getNumEvent)
              
